.service-list {
  visibility: hidden;
}
.service-grid:hover .service-list {
  visibility: visible;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.service-grid:hover {
  background: #ddd;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.service-grid:hover .service-name {
  color: #0a0a0a;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.service-grid:hover .service-list {
  color: #0a0a0a;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.service-grid {
  padding: 0;
  margin: 0;
}

@media (max-width: 48.75rem) {
  .service-list {
    visibility: visible;
  }
  .service-grid:hover {
    background:linear-gradient(180deg, #130f40 25%, #0a0a0a 74%);
  }
}
