@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}


*{ font-family: "Rubik", sans-serif !important;}

body {
  background: #eee;

  font-size: 0.875rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 23rem;
  height: 23rem;

}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}
