@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

#app {
  height: 100%;
}

* {
  font-family: "Rubik", sans-serif !important;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 23rem;
  height: 23rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}

